{% extends "base.html" %}
{% block content %}

<!-- Search Results -->
     <section id="portfolio" class="search-results">
        <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    {% if has_records %}
                    <img src="{{ url_for('static', filename='img/evil_monica.jpg')}}">
                    {% else %}
                    <img src="{{ url_for('static', filename='img/good_monica.jpg')}}">
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- The firstname lastname needs to be queried from backend -->
                    {% for res in result %}
                    <h2>{{ res["Info"]["@firstNm"] }} {{res["Info"]["@lastNm"]}}</h2>
                    
                  <!--   <p class="other-names">Other name(s): FirstnameLastname 1, Firstname Lastname 2</p> -->
                    {% endfor %}
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12 text-center">
                <!-- Company name needs to be queried from backend -->
                  <h4>{{co}}</h4>
                  <!-- City, State needs to be queried from backend -->
                  {{st}}
              </div>
            </div>

            <div class="col-lg-2">
            </div>
              <div class="profile-section">
                <div class="drp-header">
                  <span class="profile-section-icon"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  <h4>DRP Information</h4>
                </div>
                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Regulatory Action Filed Against</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                    {% if has_reg_action %}
                    <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    {% else %}
                    <!-- Else don't show -->
                      <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                      {% endif %}
                  </div>

                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Criminal Record</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                    {% if has_criminal %}
                    <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    {% else %}
                    <!-- Else don't show -->
                      <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                      {% endif %}
                  </div>

                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Past Bankruptcy</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                    {% if has_bankrupt %}
                    <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    <!-- Else don't show -->
                    {% else %}
                      <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                      {% endif %}
                  </div>

                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Civil Judicial Court</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                    {% if has_civil_judc %}
                     <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    <!-- Else don't show -->
                      {% else %}
                      <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                      {% endif %}
                  </div>

                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Jail Bond Filed</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                     {% if has_bond %} 
                    <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    {% else %}
                    <!-- Else don't show -->
                      <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                      {% endif %}
                  </div> 

                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Taken to Court</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                    {% if has_judgement %}
                    <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    <!-- Else don't show -->
                    {% else %}  
                      <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                      {% endif %}
                  </div>

                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Investigation on Individual</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                    {% if has_investigation %}
                    <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    {% else %}
                    <!-- Else don't show -->
                      <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                      {% endif %}
                  </div>

                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Customer Complaints</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                    {% if has_cust_comp %}
                    <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    {% else %}
                    <!-- Else don't show -->
                      <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                      {% endif %}
                  </div> 

                  <div class="col-lg-12 no-left-padding">
                    <div class="col-lg-6 no-left-padding extra-line-height">Terminated from Past Jobs</div>
                    <!-- Need to do if and else statement here -->
                    <!-- If this is true -->
                    {% if has_termination %}
                    <div class="col-lg-2"><i class="fa fa-times-circle-o"></i></div>
                    <!-- Else don't show -->
                    {% else %}
                    <div class="col-lg-2"><i class="fa fa-circle-o"></i></div>
                    {% endif %}
                  </div>
            </div>


            <div class="col-lg-8 info-wrapper">

              <div class="profile-section">
                <!-- Previous Employment section -->
                <div><span class="profile-section-icon"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><h4>Previous Employment</h4></div>
                  <div class="col-lg-12 no-left-padding">
                    <!-- Need a for loop here to loop through all previous employment data -->
                    <div class="col-lg-12 no-left-padding">
                      <div class="col-lg-2 no-left-padding">10/2014</div>
                      <div class="col-lg-6 previous-employment">CITIGROUP GLOBAL MARKETS INC</div>
                      <div class="col-lg-4 previous-employment">PIKESVILLE, MD</div>
                    </div>
                    <!-- Sample of how it will look with another previous employment -->
                    <div class="col-lg-12 no-left-padding">
                      <div class="col-lg-2 no-left-padding">02/2008</div>
                      <div class="col-lg-6 previous-employment">WACHOVIA SECURITIES, LLC</div>
                      <div class="col-lg-4 previous-employment">BALTIMORE, MD</div>
                    </div>
                  </div>
              </div>

                <!-- Exams Passed section -->
              <div class="profile-section">
                <div><span class="profile-section-icon"><i class="fa fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;&nbsp;</span><h4>Examinations Passed</h4></div>
                    <div class="col-lg-12 no-left-padding">
                      <!-- Need a for loop here to loop through all exams passed data -->
                      <!--<div class="col-lg-12 no-left-padding">
                        <i class="fa fa-check-circle-o"></i>&nbsp;&nbsp;&nbsp;Uniform Securities Agent State Law Examination
                      </div>-->
                      <div class="col-lg-12 no-left-padding extra-line-height">
                        Uniform Securities Agent State Law Examination
                      </div>
                      <!-- Sample of how it will look with another previous employment -->
                      <div class="col-lg-12 no-left-padding extra-line-height">
                        Uniform Investment Adviser Law Examination
                      </div>
                    </div>
              </div>

            <hr class="profile-hr">
            <!--
            has_cust_comp = None
            has_termination = None
            has_records = None -->

              <!-- DRP section -->

            <div class="col-lg-2">
            </div>
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; App Name 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
{% endblock %}